body{
    background-color: #16365d;
    color: white;
    font-family: Arial, sans-serif;
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}

.red{
    color: red;
}

.yellow{
    color: yellow;
}

.blue{
    color: blue;
}

.green{
    color: rgb(0, 255, 0);
}

.fuchsia {
    color:fuchsia
}
.black{
    color: black;
}

.format-text {
    background-color: black;
    width: 50%;
    height: 55px;
    border-left: 1px solid red;
    border-top: 1px solid red;

}

.bg-green{
    background-color: rgb(0, 255, 0);
}

.contained {
    background-color: black;
    border-left: 1px solid red;
    border-right: 1px solid yellow;
    padding: 15px;
}

.galleries{
    border-bottom: 1px solid yellow;
    width: 300px;
}

.bg-red {
    background-color: red;
}

.insert {
    margin-top: 0;
}